
body {
    font:12px arial;
    color: #222;
    text-align:center;
    padding:35px;
}

#chatwrapper {
    height: 600px;
    width: 600px;
    padding: 25px;
    border-width: thin;
    border-color: #555;
    border-style: solid;
}

#chatlog {
    height: 90%;
    width: 100%;
    text-align: left;
    border-width: thin;
    border-color: #555;
    border-style: solid;
}

#message {
    height: 10%;
    width: 100%;
    padding: 10px;
