
body {
    font-family: arial;
    font-size: 20px;
    color: black;
    text-align: center;
    line-height: normal
}

#chatwrapper {
    font-family: arial;
    font-size: 11px;
    color: black;
    text-align: center;
    line-height: normal;

    position:fixed;
    right: 0%;
    bottom: 0%;

    height: 50%;
    width: 50%;
    background-color: lightgrey;
    border-style: solid;
    border-width: thick;
    border-color: grey;
    border-style: solid;
}

#messageField {
    height: 10px;
    width: 100%;
    padding: 10px;
    margin: 10px;
    overflow: hidden;
}

#messageInput{
    height: 90%;
    width: 80%;
    float: left;
    overflow: hidden;
}

#messageSend{
    height: 100%;
    width: 10%;
}

.chatlog{
    height: 90%;
    width: 100%;
    text-align: left;
    margin: 1px;
}

.message {
    padding: 10px;
    text-align: left;
}
