  h2{color: red;}


  body{

    font-family: arial;
    font-size: 20px;
    color: black;
    background-color: lightgrey;
    text-align: center;
    line-height: normal;
    margin: 20px;
    padding: 60px;
    border-style: dashed;

  }

  input{
    font-family: arial;
    font-size: 20px;
    color: white;
    background-color: grey;
  }

  select{

    font-family: arial;
    font-size: 20px;
    color: white;
    background-color: grey;

  }

/* Poor html and CSS by Cameron Bell */
